<div id="VehiclesPage">
    <div class="vehicles-container h-100">
        {{#> pageStructure/page-structure}}
        {{#*inline "info"}}
        {{> info-side/users-info-side}}
        {{/inline}}
        {{#*inline "content"}}
        {{> content-side/users-content}}
        {{/inline}}
        {{/pageStructure/page-structure}}
    </div>
</div>