@import "../../tools.css";

#NavigationPartials {
  min-height: 98px;
  position: relative;
  z-index: 1;
}

#NavigationPartials .header-container {
  position: fixed;
  top: 0;
  width: 100%;
}

#NavigationPartials .nav {
}

#NavigationPartials .nav .nav-item {
}

#NavigationPartials .nav .nav-item .nav-link {
  border-bottom: 4px solid transparent;
  min-width: 111px;
  text-align: center;
}

#NavigationPartials .nav .nav-item .nav-link:hover {
  border-bottom: 4px solid var(--color-secondary);
}

#NavigationPartials .nav .nav-item .nav-link.active {
  border-bottom: 4px solid var(--color-secondary);
}

/*---------------- BREAD CRUMBS ----------------*/
.bread-crumbs-block {
  /* background-color: var(--color-secondary); */
}

.bread-crumbs-block .bread-crumbs {
}
