@import "../../tools.css";

#NavigationPartials {
}

#NavigationPartials .nav {
}

#NavigationPartials .nav .nav-item {
}

#NavigationPartials .nav .nav-item .nav-link {
  border-bottom: 4px solid transparent;
  min-width: 111px;
  text-align: center;
}

#NavigationPartials .nav .nav-item .nav-link:hover {
  border-bottom: 4px solid var(--color-secondary);
}

#NavigationPartials .nav .nav-item .nav-link.active {
  border-bottom: 4px solid var(--color-secondary);
}
