<div class="inner-tabs-block bg-dark">
    <div class="inner-tabs nav">
        <div class="tab-cover nav-item p-1">
            <div class="tab">
                <a class="nav-link text-white" href="#">Users</a>
            </div>
        </div>
        <div class="tab-cover nav-item p-1">
            <div class="tab">
                <a class="nav-link text-white" href="#">Create User</a>
            </div>
        </div>
        <div class="tab-cover nav-item p-1">
            <div class="tab">
                <a class="nav-link text-white" href="#">Update User</a>
            </div>
        </div>
        <div class="tab-cover nav-item p-1">
            <div class="tab">
                <a class="nav-link text-white" href="#">Remove Users</a>
            </div>
        </div>
    </div>
</div>