<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>
    <div class="main-wraper">
        {{> navigation/nav}}
        <section class="page-wraper">
            {{{body}}}
        </section>
        {{> footer}}
    </div>
    {{> scripts}}
</body>

</html>