<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>
    <div class="navigation-wraper">
        {{> navigation/nav}}
    </div>
    <div class="main-wraper">
        {{{body}}}
    </div>
    {{> footer}}
    {{> scripts}}
</body>

</html>