<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>
    <div class="main-wraper">
        {{> navigation/nav}}
        <section class="page-wraper">
            {{{body}}}
        </section>
        {{> footer}}
        <div class="go-up-button-block">
            <div class="go-up-button">
                <div class="btn btn-primary rounded-circle border bg-danger text-white">UP</div>
            </div>
        </div>
    </div>
    {{> scripts}}
</body>

</html>