<!DOCTYPE html>
<html lang="en">
  <%- include('./layouts/head.ejs')%>
  <body>
    <div class="main-wraper">
      <div class="page-content-cover">
        <section class="container">
          <h1>ERROR 404 page</h1>
        </section>
      </div>
    </div>
  </body>
</html>
