@import "./tools.css";

html,
body {
  margin: 0px;
  padding: 0px;
}

.main-wraper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

* {
  font-family: var(--font-baloo-regular);
}

.main-wraper .page-wraper {
  display: flex;
  flex-grow: 1;
}

.main-wraper .page-wraper > div {
  width: 100%;
}

/*------------------ FOOTER ------------------*/
.main-wraper #FooterPartials {
}

.main-wraper .page-wraper #UsersPage .footer-container {
}

/*---------------- GO UP BUTTON ----------------*/
.go-up-button-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  z-index: 1;
  display: none;
  justify-content: flex-end;
}

.go-up-button-block .go-up-button {
  position: fixed;
  height: 100vh;
  width: 0;
}

.go-up-button-block .go-up-button .btn {
  position: relative;
  left: -54px;
  top: 92vh;
  width: 50px;
  min-width: 50px;
  max-width: 50px;
  height: 50px;
  min-height: 50px;
  max-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
