:root {
  --active-color: #218cf7;
  --secondary-color: #ffbb00;
}

html,
body {
  margin: 0px;
  padding: 0px;
}

.main-wraper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*------------------ NAVIGATION ------------------*/
.main-wraper #NavigationPartials {
}

.main-wraper #NavigationPartials .nav {
}

.main-wraper #NavigationPartials .nav .nav-item {
}

.main-wraper #NavigationPartials .nav .nav-item .nav-link {
  border-bottom: 4px solid transparent;
  min-width: 111px;
  text-align: center;
}

.main-wraper #NavigationPartials .nav .nav-item .nav-link:hover {
  /* border-bottom: 4px solid var(--active-color); */
  border-bottom: 4px solid var(--secondary-color);
}

.main-wraper #NavigationPartials .nav .nav-item .nav-link.active {
  /* border-bottom: 4px solid var(--active-color); */
  border-bottom: 4px solid var(--secondary-color);
}

/*------------------ ALL PAGES ------------------*/
.main-wraper .page-wraper {
  display: flex;
  flex-grow: 1;
  overflow-y: auto;
}

.main-wraper .page-wraper > div {
  width: 100%;
}

/*>>>>>>>>>>>>>>>>>>>>>  HOME PAGE*/
.main-wraper .page-wraper #HomePage {
}

.main-wraper .page-wraper #UsersPage .home-container {
}

/*>>>>>>>>>>>>>>>>>>>>>  USERS PAGE*/
.main-wraper .page-wraper #UsersPage {
}

.main-wraper .page-wraper #UsersPage .users-container {
}

/*>>>>>>>>>>>>>>>>>>>>>  COMPANIES PAGE*/
.main-wraper .page-wraper #CompaniesPage {
}

.main-wraper .page-wraper #UsersPage .companies-container {
}

/*>>>>>>>>>>>>>>>>>>>>>  VEHICLES PAGE*/
.main-wraper .page-wraper #VehiclesPage {
}

.main-wraper .page-wraper #UsersPage .vehicles-container {
}

/*>>>>>>>>>>>>>>>>>>>>>  PRODUCT PAGE*/
.main-wraper .page-wraper #ProductsPage {
}

.main-wraper .page-wraper #UsersPage .products-container {
}

/*>>>>>>>>>>>>>>>>>>>>>  LOG PAGE*/
.main-wraper .page-wraper #LogPage {
}

.main-wraper .page-wraper #UsersPage .log-container {
}

/*------------------ FOOTER ------------------*/
.main-wraper #FooterPartials {
}

.main-wraper .page-wraper #UsersPage .footer-container {
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/*------------------ PARTIALS ------------------*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
