<div class="page-structure">
    <div class="bread-crumbs-block">
        <div class="bread-crumbs">
            <span class="txt-baloo">bread crumbs</span>
        </div>
    </div>
    <div class="page-block">
        <div class="page">
            <div class="page-info-block">
                <div class="page-info bg-dark">
                    <h1>{{articles.mainTitle}}</h1>
                </div>
            </div>
            <div class="page-content-block">
                <div class="page-content">
                    <div class="nav-tabs-block">
                        <div class="nav-tabs">
                            <span>nav tabs</span>
                        </div>
                    </div>
                    <div class="content-block">
                        <div class="content">
                            <span>content</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="go-up-button-block">
        <div class="go-up-button">
            <span>go up button</span>
        </div>
    </div>
</div>