<div class="page-structure">
    <div class="bread-crumbs-block">
        <span>bread crumbs</span>
    </div>
    <div class="page-block">
        <div class="page-info-block bg-dark">
            <h1>{{articles.mainTitle}}</h1>
        </div>
        <div class="page-content-block">
            <div class="nav-tabs-block">
                <span>nav tabs</span>
            </div>
            <span>content</span>
        </div>
    </div>
</div>